version-current="0.0.1";
tickSpeed-default=b20:current=b20;
difficulty-
default=b25:
max=b100:
min=b10:
current=b25;
actions-
    openTerminal=s66:
    exit=s111:
    quit=s111:
    moveUp=s51, s19:
    moveDown=s47, s20:
    moveLeft=s29, s21:
    moveRight=s32, s22:
    sprint=s59, s60;


#    19 : up
#    20 : down
#    21 : left
#    22 : right
#    29 : a
#    32 : d
#    47 : s
#    51 : w
